<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <%- include('./partials/head') %>
</head>
<body style="background-color: rgb(39 39 42)">
  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <form action="/user/edit" method="post" enctype="multipart/form-data">
      <img src="<%= locals.user.avatar %>" width="200px">
      <div class="mb-3">
        <label for="avatarImage" class="form-label text-white">Avatar</label>
        <input type="file" class="form-control" id="avatarImage" name="avatar">
      </div>
      <div class="mb-3">
        <label for="InputFullname" class="form-label text-white">Fullname</label>
        <input 
          type="text" 
          class="form-control" 
          id="InputFullname" 
          required 
          name="fullname" 
          value="<%= locals.user.fullname %>"
          maxlength="50"
          pattern="[A-Za-z]+\s[A-Za-z]+"
          title="Fullname should include both first and last names, separated by a space"
        >
      </div>
      <div class="mb-3">
        <label for="InputEmail" class="form-label text-white">Email address</label>
        <!-- disabled would have made it not be send in the form data-->
        <input 
          type="email" 
          class="form-control" 
          id="InputEmail" 
          aria-describedby="emailHelp" 
          required 
          value="<%= locals.user.email %>"
          maxlength="100"
          name="email"
          readonly
        >
      </div>
      <div class="mb-3">
        <label for="About" class="form-label text-white">About</label>
        <textarea class="form-control" id="About" name="about" rows="3"><%= locals.user.about %></textarea>
      </div>
      <div class="mb-3">
        <label for="OldPassword" class="form-label text-white">Old Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="OldPassword" 
          placeholder="required for the update to take place"
          maxlength="50"
          name="oldPassword" 
        >
      </div>
      <div class="mb-3">
        <label for="NewPassword" class="form-label text-white">New Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="NewPassword" 
          placeholder="not required if no change needed"
          maxlength="50"
          name="newPassword" 
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[#?!@$%^&*-]).{8,}$"
          title="Password must be at least 8 characters long and include one uppercase letter, one lowercase letter, one digit, and one special character."
        >
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>

  <%- include('./partials/script') %>
</body>
</html>
