<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Document</title>
</head>
<body style="background-color: rgb(39 39 42)">
  <%- include('./partials/nav.ejs') %>
  <div class="container mt-4" >
    <div class="row row-cols-4">
      <% locals.blogs.forEach(blog => { %>
        <div class="col">
          <div class="card mb-4" style="width: 18rem; background-color: rgb(63 63 70);">
            <img src="<%= blog.coverImageURL %>" class="card-img-top " style="height: 150px;" alt="...">
            <div class="card-body">
              <h5 class="card-title text-white"><%= blog.title %></h5>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include('./partials/script.ejs') %>
</body>
</html>